.rightbar {
  flex: 3.5;
  height: calc(100vh);
  overflow-y: scroll;
}
.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayImg {
  margin-right: 10px;
}
.bithdayText {
  font-weight: 300px;

  font-size: 15px;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}
.rightbarAd {
  width: 100%;
  max-height: 20rem;
  border-radius: 10px;
  margin: 30px 0;
}
.rightbarTitle {
  margin-bottom: 20px;
}
.rightbarFriendsList {
  margin: 0;
  padding: 0;
  list-style: none;
}
